.container1
{
background-color : yellow;
}

.container2
{
background-color : blue;
}


.container3
{
background-color : gray;
}

.fontred
{
color :  red;
}

.fontblue
{
color :  blue;
}

.fontgreen
{
color :  green;
}